<!DOCTYPE html>

<html lang="en">

<head>

	<title>Bard</title>

	<meta charset="UTF-8">

	<meta name="description" content="James Lee's personal web application: Bard is a blog posting web application that utilizes Google Maps API to allow users to post personal anecdotes and record locations of posts.">

<!-- 	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'loginReg_app/home.css' %}"> -->

	<link rel="stylesheet" type="text/css" href="../static/stories_app/newPost.css">

</head>

<body>

		<a href="logout">Logout</a>
		<a href="/">User Profile</a>
		<a href="newStory">New Story</a>

		<h1>DASHBOARD</h1>

		{%if stories%}

			{%for story in stories%}

				<p>Bard: {{story.bard.alias}}</p>

				<p>Story Title: {{story.title}}</p>

				<p>Story Date: {{story.date}}</p>

				<p>Story Location: {{story.location}}</p>

				<p>Story Emotion: {{story.emotion}}</p>

				<p>Story Content: {{story.content}}</p>

				<br>

			{%endfor%}

		{%endif%}

</body>

</html>